# #Diamond Price Prediction

### 1. Linear Regression 
~Deploying various feature combinations

In [4]:
%run Utility_tools.ipynb

In [75]:
%run Libraries.ipynb

In [17]:
raw = pd.read_csv('diamond_pred.csv', index_col=[0])
df = deepcopy(raw)

In [18]:
df.sample(4)

,carat,cut,color,clarity,depth,table,price,x,y,z,size_volume
37251,0.399902,Ideal,G,VVS1,61.31250,56.0,977,4.738281,4.750000,2.910156,65.498409
51699,0.700195,Very Good,F,VS2,62.18750,56.0,2400,5.699219,5.738281,3.560547,116.443128
35934,0.370117,Ideal,F,VVS2,61.59375,57.0,920,4.589844,4.628906,2.839844,60.335197
10899,1.019531,Very Good,H,SI1,63.40625,57.0,4884,6.421875,6.359375,4.050781,165.430306

In [19]:
df.drop(['x', 'y', 'z', 'table', 'clarity', 'depth', 'color', 'cut'], axis=1, inplace=True)

In [20]:
df = pd.concat([df.iloc[:,-1], df.iloc[:,:-1]], axis=1)

In [23]:
#Pre-modeling
x = df.iloc[:,:-1] 
y = df.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

scaler = RobustScaler()
x_train = scaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

scaler = RobustScaler()
x_test = scaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [26]:
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)
preds = lin_mod.predict(x_test)

In [29]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
rmse

1527.9798053516042

In [30]:
lin_mod.score(x_train, y_train)

0.8524801179373925

In [31]:
r2_score(y_test, preds)

0.8531327603621459

In [32]:
mean_absolute_error(y_test, preds)

1038.2510663009537

In [33]:
normalized_rmse = rmse/(df['price'].max()-df['price'].min()) #rmse divided by the target's range
normalized_rmse

0.08260689870528216

----------------------------------------

In [34]:
df_1 = deepcopy(raw)

In [35]:
df_1.drop(['size_volume', 'table', 'clarity', 'depth', 'color', 'cut'], axis=1, inplace=True)

In [36]:
df_1 = pd.concat([df_1.iloc[:,2:], df_1.iloc[:,:2]], axis=1)

In [37]:
#Pre-modeling
x = df_1.iloc[:,:-1] 
y = df_1.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

scaler = RobustScaler()
x_train = scaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

scaler = RobustScaler()
x_test = scaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [38]:
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)
preds = lin_mod.predict(x_test)

In [39]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
rmse

1451.4372592791165

In [40]:
lin_mod.score(x_train, y_train)

0.8659477342669937

In [41]:
r2_score(y_test, preds)

0.8674785318509854

In [42]:
mean_absolute_error(y_test, preds)

876.2834821753437

In [43]:
normalized_rmse = rmse/(df['price'].max()-df['price'].min()) 
normalized_rmse

0.07846879273823412

-----------------------------------------------

In [44]:
df_2 = deepcopy(raw)

In [45]:
df_2 = df_2[['carat', 'x', 'price']]

In [46]:
#Pre-modeling
x = df_2.iloc[:,:-1] 
y = df_2.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

scaler = RobustScaler()
x_train = scaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

scaler = RobustScaler()
x_test = scaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [47]:
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)
preds = lin_mod.predict(x_test)

In [48]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
rmse

1482.4085192495377

In [49]:
lin_mod.score(x_train, y_train)

0.8622374982885902

In [50]:
r2_score(y_test, preds)

0.8617626155844205

In [51]:
mean_absolute_error(y_test, preds)

900.41064949108

#### It seems like the features x y z, when used, perform better than their engineered counterpart size_volume, despite being highly correlated with one another (carat is included). This could be because this newly created column has high variance.

In [52]:
normalized_rmse = rmse/(df['price'].max()-df['price'].min()) 
normalized_rmse

0.08014318642209751

--------------------------------------------

In [53]:
df_3 = deepcopy(raw)

In [54]:
df_3.sample(3)

,carat,cut,color,clarity,depth,table,price,x,y,z,size_volume
223,0.750000,Very Good,D,SI2,63.09375,58.0,2782,5.781250,5.730469,3.630859,120.287730
13618,1.209961,Premium,J,VVS2,60.81250,60.0,5572,6.859375,6.878906,4.179688,197.218544
4087,0.899902,Very Good,D,SI2,60.31250,63.0,3534,6.121094,6.218750,3.720703,141.630617

In [55]:
df_3_cat = df_3.select_dtypes(include='object')

In [56]:
df_3 = pd.concat([pd.get_dummies(df_3_cat), df_3.select_dtypes(include='number')], axis=1)\
.drop(['depth', 'table', 'size_volume'], axis=1)

In [62]:
df_3 = pd.concat([df_3[[column for column in df_3.columns if column!='price']], df_3['price']], axis=1)

In [82]:
#Pre-modeling
x = df_3.iloc[:,:-1] 
y = df_3.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

scaler = RobustScaler()
x_train = scaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

scaler = RobustScaler()
x_test = scaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [65]:
lin_mod = LinearRegression()
lin_mod.fit(x_train, y_train)
preds = lin_mod.predict(x_test)

In [66]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
rmse

1098.6114462637152

In [67]:
lin_mod.score(x_train, y_train)

0.9243492787684595

In [68]:
r2_score(y_test, preds)

0.9240761989079259

In [70]:
mean_absolute_error(y_test, preds)

726.2182285873192

In [72]:
normalized_rmse = rmse/(df_3['price'].max()-df_3['price'].min()) 
normalized_rmse  #We get the best result when using categorical features as well

0.05939403396570877

### 2. Random Forest Regressor (CV and H-Tuning)

In [85]:
rfc_ = RandomForestRegressor(random_state=42)

In [86]:
param_grid = { 
    'n_estimators': [300, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [12], 
    "min_samples_split" : [2,4,8],
    "bootstrap": [True, False]
}

In [ ]:
CV_rfc = GridSearchCV(estimator=rfc_, param_grid=param_grid, cv=5)
CV_rfc.fit(x_train, y_train)

In [ ]:
CV_rfc.best_params_

In [ ]:
rfc1=RandomForestClassifier(n_estimators=,
    max_features= ,
    max_depth=,
    min_samples_split=,
    bootstrap=)

rfc1.fit(x_train, y_train)

In [ ]:
rf_pred = rfc1.predict(x_test)

In [ ]:
plot_rf_feat_importance(rfc1, x)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, rf_pred)
print(f'''Root Mean Squared Error: {rmse}''')
print(f'''R^squared on train: {rfc1.score(x_train, y_train)}''')
print(f'''R^squared on test: {r2_score(y_test, rf_pred)}''')
print(f'''Mean Absolute Error: {mean_absolute_error(y_test, rf_pred)}''')
print(f'''Normalized Root Mean Squared Error: {rmse/(df_3['price'].max()-df_3['price'].min())}